<html>
<head>

</head>
<link rel="stylesheet" type="text/css" href="CSS/style.css">
<body>
<div class="partial-header">

    <h1>{{title}}</h1>


    <a href="/">Home</a>
    <a href="/help">help</a>
    <a href="/about">About</a>
</div>
</body>
</html>

