<html>
<head>
    <title>{{title}}</title>
    <link rel="icon" href="images/Rain_24px.png">

</head>
<body>
<div class="main-content">

    {{>header}}

    <h1>{{errorMessage}}</h1>

</div>


{{>footer}}
</body>
</html>