<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="icon" href="images/Rain_24px.png">

    <link rel="stylesheet" type="text/css" href="CSS/style.css">
</head>
<body>
<div class="main-content">

    {{>header}}

    <img class="about-img" src="images/smaple_image.png">
</div>

{{>footer}}
</body>
</html>