<!DOCTYPE html>
<html lang="en"><head>
<title>{{title}}</title>
    <link rel="icon" href="images/Rain_24px.png">

</head>
<body>
<div class="main-content">
    {{>header}}
{{message}}

</div>
{{>footer}}
</body>

</html>