<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
<link rel="icon" href="images/Rain_24px.png">
    <link rel="stylesheet" type="text/css" href="CSS/style.css">



    </link>
</head>
<body>
<div class="main-content">
    {{>header}}
<p>Use This page to get weather information</p>
<form>
    <input type="search" placeholder="Search here..">
    <button>Search</button>
</form>
<p id="result"></p>
</div>
<script  src="JS/script.js"></script>

{{>footer}}
</body>
</html>